.contact {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
    margin-top: 40px;
}
.contact-menu {
    display: inline;
    border: none;
}
.contact-info {
    margin-top: 30px;
    .navbar-contact-menu {
        border-top: 2px #078aeb solid;
        padding-top: 20px;

        li {
            list-style-type: none;
            padding-bottom: 10px;

            a {
                text-decoration: none;
                color: #777;
                font-size: 1.3em;

            }
        }
    }

}
.contact-conn {
    padding-top: 20px;
    border-top: 2px #078aeb solid;
    .contact-address {
        display: inline-block;
        float: left;
    }
}
